ParqueaderoElDesfalco.Core.Test/bin
ParqueaderoElDesfalco.Core.Test/obj
ParqueaderoElDesfalco.Core/bin
ParqueaderoElDesfalco.Core/obj
ParqueaderoElDesfalco.Droid/obj
ParqueaderoElDesfalco.Droid/bin/Debug/ParqueaderoElDesfalco.Droid.dll
ParqueaderoElDesfalco.Droid/bin/Debug/ParqueaderoElDesfalco.Droid.pdb
ParqueaderoElDesfalco.Droid/bin/Debug/co.com.ceiba.el_desfalco-Signed.apk
ParqueaderoElDesfalco.Droid/bin/Debug/co.com.ceiba.el_desfalco.apk
ParqueaderoElDesfalco.Droid/bin/Debug/ParqueaderoElDesfalco.Core.dll
ParqueaderoElDesfalco.Droid/bin/Debug/ParqueaderoElDesfalco.Core.pdb
*.blob
ParqueaderoElDesfalco.UITest/bin
ParqueaderoElDesfalco.UITest/obj
